---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

body{
	background: #f5f7f9;
	font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
}

.site-header {
	background: #fff;
}

.page-content .wrapper {
	background: #fff;
	border: 1px solid #e8e8e8;
	box-shadow: 0 2px 4px rgba(202,203,204,0.9);
}

.site-banner {
	min-height: 155.95px;
	background: #FF706C;
	position: relative;
	z-index: 0;
	border-bottom: 1px solid #e8e8e8;
	box-shadow: 0 2px 4px rgba(202,203,204,0.9); 
	line-height: 155.95px;
}

.site-banner img {
	border-radius: 9999px;
}

.site-banner a {
	padding-left: 5px;
	font-size: 14px;
	color: #fff;
}

.site-banner a:hover {
	text-decoration: none;
	color: #000;
}

.site-nav {
	z-index: 2;
}

.space {
	height: 15px;
}

.post-list li {
	padding-bottom: 10px;
	border-bottom: 1px solid #f0f0f0;
}

.more {
	text-align: center;
	padding-bottom: 20px;
}